<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operations</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/css/auth/login.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <a href="/">
        <h3>Creating</h3>
    </a>

    <label for="name">Description</label>
    <input id="name" type="text">

    <label for="amount">Amount</label>
    <input id="amount" type="text">

    <label for="currency">Currency</label>
    <select id="currency">
        {% for currency in currencies %}
            <option value={{currency}}>{{currency}}</option>
        {% endfor %}
    </select>
    <button onclick="createOperation()" type="button">Create</button>
</form>
<script src="/static/js/operations/create-operation.js"></script>
</body>
</html>
