.container {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.operations {
    display: none; /* Initially hidden */
    border: 1px solid #ccc;
    padding: 10px;
}

.operation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}