<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/css/auth/login.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <a href="/login">
        <h3>Login</h3>
    </a>

    <label for="username">Email</label>
    <input id="username" placeholder="Email" type="email" required>

    <label for="password">Password</label>
    <input id="password" placeholder="Password" type="password" required>

    <button onclick="registerUser()" type="button">Register</button>
</form>
<script src="/static/js/auth/register.js"></script>
</body>
</html>
